.form{
width: 100%;

}

.form__title{
text-align: center;
font-size: 40px;
font-weight: 700;
margin-top: 30px;
margin-bottom: 20px;
}

.form__inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form__line{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.form__block{
    width: 250px;
    margin : 0 20px;

}

.form__label{
    font-weight: 400;
    margin-bottom:5px;
}

.form__input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid ;
    outline: 0;
    transition: all O.3s ease-in-out;
    padding-left: 10px;
    font-size: 16px;
    font-family: 'Nunito';
    margin-bottom: 10px;
    
}

.form__input:focus{

    border-color: #9E3427;

}

.form .btn {
    margin-top: 20px;
    cursor: pointer;
}

